[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ruff = "==0.6.9"
pre-commit = "==4.0.1"
cfn-lint = "==1.16.1"

[requires]
python_version = "3.12"

[scripts]
ruff-check = "ruff check ."
ruff-format = "ruff format ."
