[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-sam-cli = "==1.79.0"
pyopenssl = "*"
cryptography = "*"

[dev-packages]
black = "*"
ruff = "*"

[requires]
python_version = "3.9"
